@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply 
    dark:bg-[#06061D] 
    bg-[#ecf8f8];
  }
  body::before {
    @apply 
    fixed 
    w-screen 
    h-screen 
    content-[""] opacity-[0.05] z-[-1] 
    pointer-events-none 
    bg-[linear-gradient(black_0.05rem,transparent_0.05rem),linear-gradient(90deg,black_0.05rem,transparent_0.05rem)] 
    dark:bg-[linear-gradient(white_0.05rem,transparent_0.05rem),linear-gradient(90deg,white_0.05rem,transparent_0.05rem)] 
    bg-[size:2rem_2rem] 
    left-0 top-0;
  }
  .nav-container {
    @apply 
    bg-[#ecf8f833]
    dark:bg-[#06061D33] 
    backdrop-blur-[5px];
  }
}
