@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-[#1e1e1e] 
    bg-[#ffffff]
     ease-in duration-200;
  }
  /* body::before {
    @apply 
    fixed 
    w-screen 
    h-screen 
    content-[""] opacity-[0.04] z-[-1] 
    pointer-events-none 
    bg-[linear-gradient(black_0.05rem,transparent_0.05rem),linear-gradient(90deg,black_0.05rem,transparent_0.05rem)] 
    dark:bg-[linear-gradient(white_0.05rem,transparent_0.05rem),linear-gradient(90deg,white_0.05rem,transparent_0.05rem)] 
    bg-[size:5rem_5rem] 
    lg:bg-[size:0.5rem_0.5rem] 
    left-0 top-0;
  } */
  .nav-container {
    @apply bg-transparent
    backdrop-blur-[5px];
  }
}

::-webkit-scrollbar{
  display: none;
}

body{
  background-image: url("../../public/noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
}
